* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #fbfbfb !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #001253
}

/* Navbar */
.nav-brand {
  color: #001253 !important;
  font-family: 'Philosopher', sans-serif;
}
.nav-title {
  margin: 0 auto;
}

.nav-link {
  color: #d2d2d2;
}

.active {
  text-decoration: underline !important;
}

/* Projects */
.container-title {
  display: flex;
  justify-content: space-between;
}

.project-img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

/* Footer */
.footer {
  margin-top: 7rem;
  height: 150px;
  border: 2px dashed #d2d2d2;
}

.footer-icon {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.icon {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 1.75rem;
  /* color: #2B3467; */
  color: #d2d2d2;
  border: #d2d2d2;
  cursor: pointer;
}

.icon:hover {
  color: #001253;
}
